<div ng-controller="SearchCatController">
  <h3 class="col-md-12 text-center">Search for Tags</h3>
  <div class="col-md-12">
    <div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4" style="float: left">
      <form name="searchForm">
        <fieldset>
          <div class="form-group">
            <!--label for="queryParam">Tag: </label-->
            <input type="text" id="searchStr" name="searchStr" class="form-control" ng-model="searchStr" placeholder="Enter name of tag">
          </div>
        </fieldset>
      </form>
    </div>
  </div>
  <div class="button-group col-md-12">
    <div>
      <h4>Tags: </h4>
      <button ng-bind="tag" type="button" class="btn btn-primary" ng-repeat="tag in itemTags | filter:searchStr" style="margin-right:20px;margin-bottom:20px" ui-sref="tag({ tag: tag })"></button>
    </div>
    <div class="spinner" id="spinnerDiv"><img src="modules/core/client/img/loaders/loader.gif"></div>
  </div>
</div>
