<section>
  <div class="page-header">
    <h1>Talks</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="talk in vm.talks"
       ui-sref="talks.view({ talkId: talk._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="talk.created | date:'mediumDate'"></span>
        by
        <span ng-if="talk.user" ng-bind="talk.user.displayName"></span>
        <span ng-if="!talk.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="talk.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.talks.$resolved && !vm.talks.length">
    No Talks yet, why don't you <a ui-sref="talks.create">create one</a>?
  </div>
</section>
